/* 
    Created on : 19 mars 2016, 17:45:43
    Author     : sylvain
*/

/************************************************************************
affichage des menus est encapsuler dans cette section
 ************************************************************************/
/* une ligne du menu de la semaine 
cette ligne est répétée 5 fois */
.ligneMenu {
    display : flex;
    flex-direction : row;
    justify-content: space-around;
    margin: 10px 5px 0 5px ;
} 
/* une ligne est composée de :  un jour smallscreen, unecase, un jour et unecase */

.saisi {
    width: 40%;
    margin: 5px;
}

/* tous les formulaires */
.formulaire {
    background-color:  grey;
    color:black;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
}


/************************************************************************
formulaire de saisie des menus
 ************************************************************************/

.dateFormulaireSaisie {
    font-size : 1.4em;
    margin: 5px 5px 20px 05px;
}

.formulaireSaisie {
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
    padding: 5px ;
    margin: 10px;
    width: 80%;
    height: 80%;
}


.formulaireBoutonRadio {
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
}

/* gère la coloration du formulaire en fonction de la case cochée */
#radiorepas:checked,
#radiomessage:checked,
#radiorepas:checked ~  #frmradiorepas,
#radiomessage:checked ~ #frmradiomessage,
#radiorepas:checked ~ label,
#radiomessage:checked ~ label {
    background-color:  #dadada;
}

.formulaireLigneRadio>label {
    width: 100px;
}

.formulaireLesChamps {
    display : flex;
    flex-direction : column;
    justify-content:  center;
    padding-left: 40px;
}
.formulaireLigneChamp {
    display : flex;
    flex-direction : row;    
    justify-content: flex-start;
    padding: 5px ;
}
.formulaireLigneRadio {
    display : flex;
    flex-direction : row;    
    justify-content: flex-start;
    padding: 5px ;
}
.formulaireColonneLibelle {
    display : flex;
    flex-direction : column;    
    justify-content:  flex-end;
    padding: 0px 5px 5px  5px ;
}

.formulaireBoutonValidation{
    display : flex;
    flex-direction :row;
    justify-content:    flex-end;
    width: 60%;
    margin :30px;
    height: 30px;
}

.formulaireLogin {
    min-height : 400px;
    display : flex;
    flex-direction : column; 
    justify-content:center;

}
.formulaireBoutonRepas{

}

.palibel{
    padding-bottom: 8px; 
    margin:  0px 5px 0px 15px;
    width: 70px;
}
.palibel2{
    padding-bottom: 8px; 
    margin:  0px 5px 0px 15px;
    width: 120px;
}
.petitepolice{
    font-size: medium;
    text-align: center;
    margin : 0px;
}
.pachamp{
    margin-bottom: 8px;
}

.boutonValidation {
    margin: 0px 30px 0px 30px;
}

.boutonConnexion {
    margin-left: 10px;
}

/************************************************************************
Formulaire changement de mot de passe
 ************************************************************************/

.formulaireLigneDesc {
    margin:  3px 10px 5px 10px;
}
.large{
    width: 200px;
}

#msg {
    color:  brown;
}

.mrp {
    margin-right: 10px;
}

.mrp:invalid {
    background-color:  #aa6666;
}

.mrp:valid {
    background-color:  #55aa55;
}

.boutonChanger {
    margin-left: 450px;
}

td {
    text-align:  center;
    max-width: 180px;
}

/************************************************************************
navigation du menu
 ************************************************************************/
nav.principal {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    margin-top: 10px;
}

/**
Entete design avec coin arrondi
affiche le titre de la page
*/

.entete {
    background-color : whitesmoke;
    height: 30px;
    width: 800px;
    color:  chocolate;
    border-radius : 0 0 20px 0  / 0 0 90% 0  ;
    position: fixed;
}

body>section>header.principal {
    font-size : 1.4em;
}
/* corps principal */
section.corps {
    display : flex;
    flex-flow : row-reverse nowrap;
    justify-content: space-between ;

}
section.application {

    width : 83%;
}
section.colonneGauche{
    width : 15%;
    padding-left: 5px;
    position: fixed;
    top: 20%;
    left : 2%;
}
/* menu flottant */
section.menuflottant {    
    padding: 3px;
    color: white;
    
}
#monMenu a {
    text-decoration: none;
    color : white;
}
#monMenu ul ul {
    display: none;
    position: absolute;
    left: 204px;
    top: -1px;
    margin:0px;
    padding: 0px;
    border: 1px solid grey;
}
#monMenu li {
    list-style-type: none;
    position: relative;
    width: 200px;
    padding: 2px;
    margin: 0px;
    background-color: #333;
}

#monMenu *.nouveau {
    color : lightblue;
}

#monMenu li:hover {
    border: 1px solid grey;
    color: white;
}
#monMenu li:hover ul.niveau2, #monMenu li li:hover ul.niveau3 {
    display: block;    
}
#monMenu li.plus {
    background-position:right;
    background-image: url(../images/droit-icone-6939-32.png);
    background-repeat: no-repeat;    
}

/* Pied de page */
/* pied de page principal qui est au dessous de la section principal */
footer {
    font-size : 0.8em;
    text-align: right;
    display : flex;
    flex-flow : column wrap-reverse;
    justify-content:  flex-end;
    /*position: fixed;*/




}

footer>nav {
    background-color : whitesmoke;
    margin: 10px 0 0 0; 
    width: 800px;
    color:  chocolate;
    border-radius : 20px 0 0 0  / 90% 0 0 0  ;

}

div.pied {
    padding-right: 5px;
}

div.pied>p {
    margin : 0px;
}
